# Build / Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDEs
.idea
*.iws
*.iml
*.ipr
.vscode/
.settings/
*.class
out/
bin/

# STS
.apt_generated
.factorypath
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Kotlin
.kotlin

# Otros
HELP.md
